body{background-color: #FFF5EE;
}
.card:hover{
    transform: scale(1.1);
}
.container{
    margin-top: 13%;    
}
.inner{
    overflow: hidden;
}
.inner img{
    transition: all 1.5s ease;
}
.inner:hover img{
    transform: scale(1.5);
}